@model PassionProject.Models.UserSettings
@Scripts.Render("~/bundles/settingsScripts")
@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>

<form action="/" method="post" name="settingsForm">
    <div>
        <label for="lowSuccessRateCheckbox">Only use pairs with low success rate?</label>
        @if (Model.LowSuccessRate == 0)
        {
            <input type="checkbox" id="lowSuccessRateCheckbox" disabled />
        }
        else
        {
            <input type="checkbox" id="lowSuccessRateCheckbox" disabled checked />
        }

    </div>
    <div>
        <label>Number of pairs: </label>
        @if (Model.NumberOfPairs == 5)
        {
            <input type="radio" name="pairAmount" value="Default" checked />
            <label for="randomAmount">Default (5)</label>
            <input type="radio" name="pairAmount" value="Random" />
            <label for="customAmount">Random</label>
            <input type="radio" name="pairAmount" value="Custom" disabled />
            <label for="customAmount">Custom</label>
        }
        else if (Model.NumberOfPairs == 2)
        {
            <input type="radio" name="pairAmount" value="Default" />
            <label for="randomAmount">Default (5)</label>
            <input type="radio" name="pairAmount" value="Random" checked />
            <label for="customAmount">Random</label>
            <input type="radio" name="pairAmount" value="Custom" disabled />
            <label for="customAmount">Custom</label>
        }
        else
        {
            <input type="radio" name="pairAmount" value="Default" />
            <label for="randomAmount">Default (5)</label>
            <input type="radio" name="pairAmount" value="Random" />
            <label for="customAmount">Random</label>
            <input type="radio" name="pairAmount" value="Custom" checked />
            <label for="customAmount">Custom</label>
        }

    </div>
    <div>
        <label for="">Alphabet: </label>
        <select id="alphabetDropdown" disabled>
            <option value="Hiragana" selected>Hiragana</option>
            <option value="Katakana">Katakana</option>
        </select>
    </div>
    <input type="submit" name="submit" value="Save Changes" class="btn-success"/>
</form>