
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Delete Confirmation</h2>

<a href="/Statistics/GetStatistics">Cancel</a>
<p>Are you sure you want to delete your statistics?</p>
<form action="/Statistics/Delete" method="post">
    <button>Delete</button>
</form>
